<table border = "1" width = "20%">
  <tr>
    <td>Числа Мерсенна</td>
    <td><%=@marsen_array %></td>
  </tr>
  <tr>
    <td>Количество чисел Мерсенна</td>
    <td><%= @quantity %></td>
  </tr>
</table>
<%= link_to 'Продолжить', root_path %>
